mixin title(text)
  .title
    .title__decoration
    h2.title__text= text 
    .title__decoration.title__decoration--right

mixin solutions(solutionsImg, solutionsIcon, solutionsWhiteIcon, subtitle, title)
  a(href="#").solutions__tile
    img(src= solutionsImg, alt="").solutions__img 
    .solutions__content 
      img(src= solutionsIcon, alt="").solutions__icon
      img(src= solutionsWhiteIcon, alt="").solutions__icon--white
      p.solutions__subtitle!= subtitle
      p.solutions__title= title 
    img(src="assets/arrow-right-01.svg", alt="").solutions__right-arrow

mixin case-study(image, title, subtitle, bottomSubtitle)
  a(href="#").case-studies__item
    img(src= image, alt="").case-studies__img
    .case-studies__overlay
      h2.case-studies__title= title
      span.case-studies__subtitle= subtitle
      .case-studies__lower-text
        span.case-studies__subtitle!= bottomSubtitle

mixin see-all-btn(text) 
  .btn-area
    a(href="#").see-all-btn
      img(src="assets/arrow-right-blue-01.svg", alt="").see-all-btn__icon
      .see-all-btn__text= text

mixin information(date, category, content, modifier="")
  .information__details
    .information__lead
      span.information__date= date
      a(href="#").information__category(class= modifier)= category
    a(href="#").information__content!= content

mixin video(thumbnail, heading, subheading)
  a(href="#").video__item
    .video__thumbnail-container
      img(src= thumbnail, alt="").video__thumbnail-image
      img(src="assets/youtube-icon.svg", alt="").video__icon
    .video__text-container
      h2.video__heading= heading
      h3.video__subheading= subheading